<!-- <mat-sidenav-container class="example-container" autosize>
	<mat-sidenav [opened]="opened" mode="side" [class.close]="!opened">

		<mat-nav-list>
			<mat-list-item class="m-h-70" (click)="opened = !opened">
				<div class="item logo-item">
					<img *ngIf="opened" class="logo" [src]="clientLogoItem">
					<img [class.rotate-180]="!opened" class="item-img" src="/assets/icons/sidenav-close.svg">
				</div>
			</mat-list-item>
			<mat-list-item *ngFor="let navigationItem of navigationItems"
				[class]="navigationItem.matListItemExtraClass?.join(' ')" (click)="clickAction(navigationItem)"
				routerLinkActive="active">
				<div class="item">
					<img class="item-img" [src]="navigationItem.icon">
					<div class="item-txt" mat-line *ngIf="opened">{{navigationItem.txt}}</div>
				</div>
			</mat-list-item>
		</mat-nav-list>

	</mat-sidenav>

	<mat-sidenav-content>
		<kbm-header></kbm-header>
		<div class="content">
			<ng-content></ng-content>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container> -->