table.main-list {
  /* Change these properties */
  --border: 1px solid var(--list-border-color);
  border-radius: 24px;
  background-color: white;

  /* Don't change these properties */
  border-spacing: 0;
  border-collapse: separate;
  border: var(--border);
  overflow: hidden;
}

table.main-list tr,
table.main-list th {
  cursor: pointer;
}

table.main-list tr,
table.main-list th,
table.main-list td {
  border-right: 0;
  border-bottom: 1px solid var(--list-border-color);
}

table.main-list tr:last-child>td {
  border-bottom: 0;
}

/* Apply a border to the bottom of all but the last row */
table.main-list>thead>tr:not(:last-child)>th,
table.main-list>thead>tr:not(:last-child)>td,
table.main-list>tbody>tr:not(:last-child)>th,
table.main-list>tbody>tr:not(:last-child)>td,
table.main-list>tfoot>tr:not(:last-child)>th,
table.main-list>tfoot>tr:not(:last-child)>td,
table.main-list>tr:not(:last-child)>td,
table.main-list>tr:not(:last-child)>th,
table.main-list>thead:not(:last-child),
table.main-list>tbody:not(:last-child),
table.main-list>tfoot:not(:last-child) {
  border-bottom: var(--border);
}

table.main-list th {
  padding: 20px;
}

table.main-list td {
  padding: 10px 20px;
  font-size: 14px;
}

table.main-list th {
  text-align: left;
  color: var(--light-color);
  font-weight: 600;
  font-size: 12px;
}

table.main-list tr {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
}

table.main-list td.list-main-column {
  color: var(--main-color);
  font-weight: 700;
}

.cdk-row:nth-child(even) {
  background-color: var(--main-bg-color);
}

.cdk-row:hover .cdk-cell{
  background-color: var(--main-color);
  color: white !important;

}

.list-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-footer {
  font-weight: 500;
  align-items: center;
  color: var(--light-color);
}

.list-footer-left {
  display: flex;
}

.f-s-12 {
  font-size: 12px !important;
}

.items-per-page {
  font-size: 12px !important;
  color: var(--main-color);
  font-weight: bold;
}

ngb-pagination ul>li:not(.active)>a {
  color: var(--light-color) !important;
}

ngb-pagination ul>li.active>a {
  background-color: white !important;
  font-weight: bold !important;
  color: var(--main-color) !important;
}

ngb-pagination ul>li>a {
  border-color: transparent !important;
  font-size: 12px !important;

}

ngb-pagination ul {
  margin-bottom: 0 !important;
  align-items: center !important;
}