table.main-list {
  /* Change these properties */
  --border: 1px solid var(--list-border-color);
  border-radius: 24px;
  background-color: white;

  /* Don't change these properties */
  border-spacing: 0;
  border-collapse: separate;
  border: var(--border);
  overflow: hidden;
}

table.main-list tr,
table.main-list th {
  cursor: pointer;
}

table.main-list tr,
table.main-list th,
table.main-list td {
  border-right: 0;
  border-bottom: 1px solid var(--list-border-color);
}

table.main-list tr:last-child>td {
  border-bottom: 0;
}

/* Apply a border to the bottom of all but the last row */
table.main-list>thead>tr:not(:last-child)>th,
table.main-list>thead>tr:not(:last-child)>td,
table.main-list>tbody>tr:not(:last-child)>th,
table.main-list>tbody>tr:not(:last-child)>td,
table.main-list>tfoot>tr:not(:last-child)>th,
table.main-list>tfoot>tr:not(:last-child)>td,
table.main-list>tr:not(:last-child)>td,
table.main-list>tr:not(:last-child)>th,
table.main-list>thead:not(:last-child),
table.main-list>tbody:not(:last-child),
table.main-list>tfoot:not(:last-child) {
  border-bottom: var(--border);
}

table.main-list th {
  padding: 20px;
}
table.main-list td {
  padding: 10px 20px;
}

table.main-list th {
  text-align: left;
  color: var(--light-color);
  font-weight: 600;
  font-size: 12px;
}

table.main-list td {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
}

table.main-list td.list-main-column {
  color: var(--main-color);
  font-weight: 700;
}

.cdk-row:nth-child(even) {
  background-color: var(--main-bg-color);
}