<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav [opened]="opened" mode="side" [class.close]="!opened">
		<mat-nav-list>
			<mat-list-item class="m-h-70" (click)="opened = !opened">
				<div class="item logo-item">
					<img *ngIf="opened" class="logo" src="/assets/icons/logo.svg">
					<img [class.rotate-180]="!opened" class="item-img" src="/assets/icons/sidenav-close.svg">
				</div>
			</mat-list-item>
			<mat-list-item class="m-t-200" [routerLink]="['/home']" routerLinkActive="active">
				<div class="item">
					<img class="item-img" src="/assets/icons/dashboard.svg">
					<div class="item-txt" mat-line *ngIf="opened">Dashboard</div>
				</div>
			</mat-list-item>
			<mat-list-item [routerLink]="['/tenant']" routerLinkActive="active">
				<div class="item">
					<img class="item-img" src="/assets/icons/tenant.svg">
					<div class="item-txt" mat-line *ngIf="opened">Tenant</div>
				</div>
			</mat-list-item>
			<mat-list-item [routerLink]="['/user']" routerLinkActive="active">
				<div class="item">
					<img class="item-img" src="/assets/icons/user.svg">
					<div class="item-txt" mat-line *ngIf="opened">User Management</div>
				</div>
			</mat-list-item>
			<mat-list-item [routerLink]="['/device']" routerLinkActive="active">
				<div class="item">
					<img class="item-img" src="/assets/icons/device.svg">
					<div class="item-txt" mat-line *ngIf="opened">Device Management</div>
				</div>
			</mat-list-item>
		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content>
		<kbm-header></kbm-header>
		<div class="content">
			<ng-content></ng-content>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>