:root {
    --main-color: #153254;
    --main-bg-color: #F0F3F8;
    --sub-main-color: #28486D;
    --light-color: #8BA3BE;
    --list-border-color: #D8E0EE;
}

* {
    font-family: 'Poppins' !important;
    font-size: 16px;
}

.page-title,
.page-sub-title,
.list-main-column {
    color: var(--main-color);
    font-weight: 700;
}

.page-title {
    font-size: 32px;
}

.page-sub-title {
    font-size: 24px;
}

.f-w-700 {
    font-weight: 700;
}