<ng-container *kbmLayoutHeaderTitle>
    <div class="page-title">
        Tenant
    </div>
</ng-container>
<div class="list-header-horizontal">
    <div class="page-sub-title">
        User Management
    </div>
    <!-- <kbm-search [formControl]="searchFormControl"></kbm-search> -->
    <kbm-list-search></kbm-list-search>
</div>

<kbm-list title="Tenant Management" [listItems]="tenancies" sortKeyName="name"
    [displayedColumnsDetails]="displayedColumnsDetails">
    <ng-container *kbmListActions="let row">
        <div fooButton [style]="ButtonStyle.SOLID" [shape]="ButtonShape.ROUNDED" [size]="ButtonSize.SMALL"
            [color]="ButtonColor.MAIN">Edit</div>
        <div fooButton [style]="ButtonStyle.SOLID" [shape]="ButtonShape.ROUNDED" [size]="ButtonSize.SMALL"
            [color]="ButtonColor.LIGHT">Delete</div>
    </ng-container>
</kbm-list>