<ng-container *kbmLayoutHeaderTitle>
    <div class="page-title">
        User
    </div>
</ng-container>

<div>
    <kbm-user-list>
        <ng-container *kbmListActions="let row">
            <div fooButton [style]="ButtonStyle.TRANSPARENT" [shape]="ButtonShape.ROUNDED" [size]="ButtonSize.SMALL"
                [color]="ButtonColor.LIGHT">View</div>
        </ng-container>
    </kbm-user-list>
</div>

<div style="margin-top:60px">
    <kbm-list title="User Management" [listItems]="users" sortKeyName="username" [displayedColumnsDetails]="displayedColumnsDetails">
        <ng-container *kbmListActions="let row">
            <div fooButton [style]="ButtonStyle.TRANSPARENT" [shape]="ButtonShape.ROUNDED" [size]="ButtonSize.SMALL"
                [color]="ButtonColor.LIGHT">View</div>
        </ng-container>
    </kbm-list>
</div>